<div class="page">
    <div class="textbox" style="margin-right:auto;margin-left:35%">
        <p class="text">Here at Stickersuwu we try to make the cutest stickers we can possibly make. If you love cute things and stickers then this is the site for you.
            We strive to be the best that we can be. We're currently shipping only to the continental United States and Canada, but that may change in the future
        </p>
    </div>
    <div class="textbox" style="margin-left:auto; margin-right:35%">
        <p class="text">Hi, my name is Andrea. I created this website to share my love and passion for art. I enjoy drawing super cute things.
            My style is mostly chibi and focuses on foods, video games and anime.
            I enjoy being able to make people happy through 
            my sticker and hope that my stickers can make you happy too!</p>
</div>  
</div>  
