<div class="page">
    <div class="textbox">
        <h1>Purchase Policy</h1>
        <p class="text">
        By purchasing with us, you agree to the following:
        </p>
        <br>
        <ul>
            <li>We have a no refund policy after shipping your order, it just isn't logistically possible to return stickers</li>
            <li>The maximum amount the seller can provide the buyer with is the purchase price less any fee's taken by PayPal</li>
            <li>Currently Paypal is the only payment processor that we will be accepting payments from</li>
            <li>We will only honor purchases from within the continental United States and Canada</li>
        </ul>
       
    </div>
    <div style="display:flex; text-align:center;">
        <button mat-button routerLink="/checkout" style="background-color: rgba(255, 192, 203, 0.561);">return to checkout</button>
    </div>
</div>
