<div class="container">
    <img class="prodImage" [src]="product.imagePath">
    <div class="prodDetails">
        <span style="font-size: 22px;">{{product.name}}</span>
        <br>
        <span style="font-size:12px">{{product.description}}</span>
        <br>
        <!-- <span><del>{{'$'+(product.price*1.15).toFixed(2)}}</del></span>
        <br> -->
        <span>{{'$'+product.price.toFixed(2)}}</span>
    </div>
    <!-- <div class="saleIcon">
        <p style="color: white;">Sale!</p>
    </div> -->
</div>