.rotatingBanner{
    background-color: aquamarine;
    text-align: center;
    height:15%;
}
.productPreviews{
    width:75%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    align-content:flex-start;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    overflow-y: unset;
    
}
.preview{
    flex-basis:25%;
    margin:3.3333%;
    width: max(25%,200px);
    transition: transform .2s;

}
.preview:hover{
    transform:scale(1.1);
}
