#pageContent {
    position: relative;
    height: 90vh;
}

#paymentDetails {
    width: 50%;
    margin-left: 5%;
    display: inline-flex;
    flex-wrap: wrap;
}

#ppbutton {
    width: 100%;
    position: absolute;
    left: 25%;
    right: 25%;
}

.field {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fullLine {
    width: 90%
}

.halfLine {
    width: 45%;
}

.cart {
    position: absolute;
    width: min(50vh, 400px);
}