<div id="pageContent">

    <!-- <div id="paymentDetails">
            <mat-form-field class="field, halfLine" appearance="fill">
                <mat-label>first name</mat-label>
                <input matInput [value]="order.payer.name.given_name">
            </mat-form-field>
            <mat-form-field class="field, halfLine" appearance="fill">
                <mat-label>last name</mat-label>
                <input matInput [value]="order.payer.name.surname">
            </mat-form-field>
            <mat-form-field class="field, fullLine" appearance="fill">
                <mat-label>email</mat-label>
                <input matInput [value]="order.payer.email_address">
            </mat-form-field>
            <mat-form-field class="field, fullLine" appearance="fill">
                <mat-label>Address 1</mat-label>
                <input matInput [value]="">
            </mat-form-field>
            <mat-form-field class="field, fullLine" appearance="fill">
                <mat-label>Address 2</mat-label>
                <input matInput [value]="">
            </mat-form-field>
            <mat-form-field class="field, halfLine" appearance="fill">
                <mat-label>City</mat-label>
                <input matInput [value]="order.payer.address.admin_area_2">
            </mat-form-field>
            <mat-form-field class="field, halfLine" appearance="fill">
                <mat-label>State/Province</mat-label>
                <input matInput [value]="order.payer.address.admin_area_1">
            </mat-form-field>
            <mat-form-field class="field, halfLine" appearance="fill">
                <mat-label>Country</mat-label>
                <input matInput [value]="order.payer.address.country_code">
            </mat-form-field>
            <mat-form-field class="field, halfLine" appearance="fill">
                <mat-label>postal code / zip code</mat-label>
                <input matInput [value]="order.payer.address.postal_code">
            </mat-form-field>
        </div> -->
    <app-cart class="cart" [subtotal]="subtotal" (cartUpdate)="setSubtotal()"></app-cart>

    <wm-paypal [height]="height" [layout]="layout" [shape]="shape" [color]="color" [label]="label" [request]="order" (cancel)="onCancel($event)" (error)="onError($event)" #paypal enableStandardCardFields></wm-paypal>
    <div style="display:flex; text-align: center; width:100%">    <button mat-button routerLink="/purchasepolicy" style="background-color: rgba(255, 192, 203, 0.561); margin-left:auto;margin-right:auto" >Purchase Policy</button></div>

</div>