.addButton {
    margin-top: 40%;
}

button {
    background-color: #F8C4DB;
    margin-left: auto;
    margin-right: 2%;
}

.container {
    text-align: right;
    display: inline-block;
    height: 80%;
    margin: 2%
}

.preview {
    display: inline-block;
    margin: 2%;
}

.page {
    padding-top: 10vh;
    height: 60vh;
    display: flex;
    justify-content: center;
}

.btnr1 {
    min-width: 100px;
    margin-top: 2%;
}