<div class="page">
    <app-product-preview [product]="product" [style.width]="isSmallScreen? '45%':'25%'" class="preview"></app-product-preview>
    <div class="container" [style.width]="isSmallScreen? '45%':'25%'">
        <div *ngIf=" !isSmallScreen ">
            <span style="font-size: 22px; ">{{product.name}}</span>
            <br>
            <br>
            <span>{{product.description}}</span>
        </div>

        <div [style.margin-top]="isSmallScreen? '0' : '40%' ">
            <span style="display:block; margin-bottom:2% ">Amount in cart: {{quantity}}</span>


            <button mat-button class="btnr1 " (click)="addProductToCart() "><b>+</b></button>
            <button mat-button class="btnr1 " (click)="removeProductFromCart() "><b>-</b></button>
            <br>
            <button mat-button class="btnr1 " routerLink="">Home</button>
            <button mat-button class="btnr1 " routerLink="/checkout ">Checkout</button>

        </div>
    </div>
</div>