#addButton {
    margin-top: 40%;
}

button {
    background-color: #F8C4DB;
    margin-left: auto;
    margin-right: 2%;
}

.container {
    position: absolute;
    text-align: right;
    display: inline-block;
    width: 25%;
    height: 80%;
    top: 10vh;
    left: 50%;
}

.preview {
    margin-left: auto;
    width: 30%;
    display: inline-block;
}

.page {
    padding-top: 10vh;
    padding-left: 20%;
    height:60vh;
    position: relative;
}

.btnr1 {
    min-width: 100px;
    margin-top: 1%;
}