.banner {
    text-align: center;
}

.navMenu:hover {
    color: pink;
}

.navMenu {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 1%;
}

.navList {
    margin-left: auto;
    margin-right: auto;
}