<div class="container" >
    <div class="searchAndCart"><span class="spacer"></span></div>
    <div class="banner"><h1>Andrea's Stickers</h1></div>
    <div class="navMenu">
        <mat-list >
            <mat-divider></mat-divider>
            <mat-list-item >
            <div class="navList">
            <span class="navMenu">NEW</span>
            <span class="navMenu" routerLink="" style="outline:0">HOME</span>
            <span class="navMenu">SPRING COLLECTION</span>
            <span class="navMenu">BAGS</span>
            <span class="navMenu">GIFT CARDS</span>
            <span class="navMenu">FREEBIES</span>
            <span class="navMenu">CONTACT US</span>
            <span class="navMenu" routerLink="checkout">CART</span>
            </div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
</div>