<div class="container">
    <div class="searchAndCart"><span class="spacer"></span></div>
    <div class="banner">
        <h1>Stickers Uwu</h1>
    </div>
    <div class="navMenu">
        <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div class="navList">
                    <span class="navMenu" routerLink="" style="outline:0">HOME</span>
                    <!-- <span *ngIf="!isSmallScreen" class="navMenu" routerLink="">ALL PRODUCTS</span> -->
                    <span class="navMenu" routerLink="about">ABOUT</span>
                    <span *ngIf="!isSmallScreen" class="navMenu" routerLink="contact">CONTACT US</span>
                    <span class="navMenu" routerLink="checkout">CART</span>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
</div>